<div class="col-md-3">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Usuarios totales</h5>
            <p class="card-text">@Model.TotalUsers</p>
            <a class="btn btn-primary"
               asp-area="AdminV2"
               asp-controller="Users"
               asp-action="Index">
               Gestionar Usuarios
            </a>
        </div>
    </div>
</div>
